.body {
	margin: 0px;
	padding:0px;
}
li {
	font-family: arial;
}
.mytext {
	padding:4rem 0rem 5rem 0rem;
}

.myline {
	margin:5rem 0rem 3rem 0rem;
	padding-bottom: 5rem;
	border: 5px dotted #0576f7;
	
}

.myspace {
	margin: 5rem 0rem 5rem 0rem;
}